
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body{
    font: 400 16px/28px "Open Sans","sans-serif" ;
    color: #212121;
    
    
   

}



h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: "Montserrat","sans-serif" ;
    font-weight: 700;
}


h1 {

    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;

}


h2 {

    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.35px;
    margin-bottom: 16px;

}


h3 h4 {
    font-size: 30px;
    line-height: 30px;

}


h3 {
    margin-bottom: 16px;

}



.container {
    width: 1110px;
    margin: 0 auto;
    display: block;


}


.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    
   
}


.nav {
    display: flex;
    list-style: none;
    gap: 50px;
    
}

nav a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #212121;
}

.headerIcon {
    display: flex;
    gap: 30px;
    
}


.imgs {

  
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    
    

}

.Top-Icons {
    display: flex;
    justify-content: space-between;
}

.picture {

    display: flex;
    gap: 12px;
    color: #52647C;
}

.title p {
    
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding: 75px 0px;
    
    
}


.picture img {
    border-radius: 25px;
    width: 28px;
    height: 28px;
}



.Icons {
    display: flex;
    gap: 15px;
}


.divider {
    background: #EAEAEA;
}


.laptop {
    font-family: 'Open Sans';
    font-size: 16px;
    
}

.laptop p {
    padding-top: 24px;
    
}



.Top-imgs {
    display: flex;
    padding: 33px 0px;
    margin: 0 auto;
    gap: 12px;
    
}



.msp h3 {
    
    
    
    font-size: 20px;
    line-height: 30px;
}


.msp p {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}



.Top-Icons2 {
    display: flex;
   margin: 0 auto;
   padding: 33px 0px;
   gap: 12px;
   

}


.background {
    background-image: url("./img/backfont.svg");
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    
   
}

.watch {
    font-size: 30px;
    line-height: 37px;
    margin: 32px 0; 
    padding: 0 0 100px;
}

.cards-temp {
    font-size: 22px;
    
}

.cards {
    
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 12px;
    background: #FFFFFF;
    margin: 40px 0;  
}

.card1 {
    box-shadow: 0px 8px 24px rgba(40, 41, 61, 0.08);
    padding: 16px 16px 24px;
    
}

.card2 {
    box-shadow: 0px 8px 24px rgba(40, 41, 61, 0.08);
    padding: 16px 16px 24px;
}

.card3 {
    box-shadow: 0px 8px 24px rgba(40, 41, 61, 0.08);
    padding: 16px 16px 24px;
    
}

.cards h3  {
    padding: 3px 0px ; 
    margin: 2px;
    
}

.divider2-img {
margin:  70px 0px;
max-width: 100%;

}


.footers {
    display: flex;
    justify-content: left;
    gap:  131px;   
}

.footers li {
    color: #807E7E;
}

ul {
    list-style: none;
}


.divier3 {
    margin: 70px 0;
    max-width: 100%;
   
}

.last-footers {
    display: flex;
    padding: 0 150px 48px;
    justify-content: space-between;
}

.soon3 {
    display: flex;
    gap: 28px;
}


.soon2 p {
    color: #807E7E;

}

.soon2 {
    padding-left: 115px;
}